# Data Science Tools and Ecosystem

## Author

Kunal Tiwari.

In this notebook, Data Science tools and Exosystem are summarised.

## Objectives:

- List popular languages for Data Science.
- Explain the basics of Python programming language.
- Introduce Data Science tools such as Jupyter Notebook and NumPy.
- Describe the different types of data and their characteristics.
- Provide an overview of data cleaning and preparation techniques.

Some of the popular langauges that Data Scientist use are:
1. Python 
2. R 
3. SQL
4. Java

Some of the commonly used libraries used by data scientist include:

    1. pandas
    2. numPY
    3. sciPY
    4. Dplyr

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

In [17]:
# Below are a few examples of evaluating arithmetic expressions in Python.
2 + 3
3-2

1

In [11]:
# This is an simple arrithematic expression to multiply and then add integers
(3*4)+5

17

In [12]:
# This is an example of converting minutes to hours.
200/60

3.3333333333333335